@import '@alfalab/core-components/vars/index.css';

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #121213;
  position: relative;
}

* {
  box-sizing: border-box;
}

[class^="slider__component_"] {
  width: calc(100% - var(--slider-input-progress-margin-horizontal) * 2) !important;
}
